IS24_URL=https://www.immobilienscout24.de/Suche/shape/wohnung-mieten?...  # Dein Link
NO_GO_KEYWORDS=möbliert,befristet,staffelmiete,zwischenmiete,untermiete,wg
TELEGRAM_BOT_TOKEN=123456:ABC-xyz
TELEGRAM_CHAT_ID=123456789
